# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

basmati.egg-info

# C extensions
*.so

build/
dist/
MANIFEST

# Sphinx documentation
docs/_build/

# vim
.*.swp

# PyCharm
.idea
/.mypy_cache/
